<footer>
  <p>&copy; 2025 Art Land. Todos los derechos reservados.</p>
  <div class="social-media">
    <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
      <i class="fab fa-instagram"></i> 
    </a>
    <a href="https://wa.me" target="_blank" class="social-icon whatsapp">
      <i class="fab fa-whatsapp"></i> 
    </a>
    <a href="https://x.com" target="_blank" class="social-icon x">
      <i class="fab fa-x"></i> 
    </a>
  </div>
</footer>


  
